@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Jacques+Francois&display=swap');

.Project {
    overflow-x: hidden;
    
    &__Area-Title {
        width: 0; 
        height: 0; 
        border-left: 630px solid transparent;
        border-right: 630px solid transparent;
        border-top: 150px solid #000000;
        font-family: 'Jacques Francois', serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__Area-Title h1 {
        position: absolute;
        color: white;
        margin-top: -160px;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 10px;
    }

    &__Line-1 {
        width: 500px;
        height: 8px;
        background-color: black;
        margin-top: 20px;
    }

    &__Line-2 {
        width: 450px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
    }

    &__Line-3 {
        width: 400px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
    }

    &__Line-4 {
        width:350px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
    }

    &__Container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        transition: 0.8s;

    }

    &__Lines-rigths {
        margin-top: 20px;
        right: 0;
        position: absolute;
    }

    &__Line-Rigth-1 {
        width: 300px;
        height: 8px;
        background-color: black;
        margin-top: 50px;
        margin-left: 250px;
    }

    &__Line-Rigth-2 {
        width: 350px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
        margin-left: 200px;
    }

    &__Line-Rigth-3 {
        width: 450px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
        margin-left: 100px;
    }

    &__Line-Rigth-4 {
        width: 500px;
        height: 8px;
        background-color: black;
        margin-top: 10px;
        margin-left: 50px;
    }
}